PRIVATE_KEY=
HEDERA_RPC_URL=https://mainnet.hashio.io/api
HEDERA_TESTNET_RPC_URL=https://testnet.hashio.io/api
USDC_ADDRESS=0x0000000000000000000000000000000000001549
PRIZE_POOL_OWNER=
MINT_TO=
MINT_AMOUNT=
STRATEGY_APR_BPS_A=500
STRATEGY_APR_BPS_B=1000
